* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #333;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #9600cc; 
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #cc44fd;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #f9f9f9;
  color: white;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section ul {
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

footer {
  text-align: center;
  background-color: #9600cc;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
}